<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975746048600-b29t52had2gslvmlv3v79ctkv2s6370a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975746048600-b29t52had2gslvmlv3v79ctkv2s6370a</string>
	<key>API_KEY</key>
	<string>AIzaSyBkmW1aSDa-ejPDfJKSuZm6Ll1cC1OaeqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>975746048600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.baikalweb.gruz</string>
	<key>PROJECT_ID</key>
	<string>formatgruz-ed9fb</string>
	<key>STORAGE_BUCKET</key>
	<string>formatgruz-ed9fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975746048600:ios:5a60f0636d92fe8313602d</string>
	<key>DATABASE_URL</key>
	<string>https://formatgruz-ed9fb.firebaseio.com</string>
</dict>
</plist>